<!DOCTYPE html>
<html>
    <head>
        <title>
            TigerMunch Photo Upload
        </title>
    </head>
    <body>
        <form method="post" action="{{ url_for('get_results') }}" enctype="multipart/form-data">
            <div>
              <label for="photo">Photo Upload</label><br />
              <input type="file" name="photo" id="photo"/>
            </div>
            <div>
              <label for="description">Meal Description</label><br />
              <input type="text" name="description" id="description"/>
            </div>
            <div>
              <button type="submit">Submit</button>
            </div>
          </form>
    </body>
</html>