<html>
  <header>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>    
    {% set account_info_dict = account_info_dict if account_info_dict is defined else {} %}
      <nav class="navbar navbar-expand-lg navbar-dark stick">
        <div class="container-fluid header-container">
          <!-- We want when we click to go on the landing page -->
          <a href="{{ url_for('home') }}" id="logo" class="navbar-brand">
            <!-- Logo -->
            <img src="{{ url_for('static', filename='images/munchlogo.jpeg') }}" alt="TigerMunch Logo">
          </a>
          <!-- Toggler -->
          <button class="navbar-toggler toggle-btn" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          
          <!--Pages available when user is logged in.-->
          <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="nav navbar-nav" id="navTabs">
              <li class="nav-item p-2" id="team">
                <a class="header-link" href="{{ url_for('team') }}">About</a>
              </li>
              <li class="nav-item p-2" id="get_summary">
                <a class="header-link" href="{{ url_for('get_summary') }}">Trends</a>
              </li>
              <li class="nav-item p-2" id="contact_us">
                <a class="header-link" href="{{ url_for('contact_us') }}">Contact Us</a>
              </li>
              <li class="nav-item p-2" id="faqs">
                <a class="header-link" href="{{ url_for('faqs') }}">FAQ</a>
              </li>
              <!-- Log out and Username -->
              <li class="nav-item p-2 dropdown">
                <a class="dropdown-toggle header-link" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  {{username}}
                </a>

                <!--Dropdown menu with account settings and log out.-->
                <ul class="dropdown-menu dropdown-menu-end drop-right shadow-lg" aria-labelledby="navbarDropdownMenuLink">
                  <li><button class="dropdown-item" type = "button" data-bs-toggle="modal"  data-backdrop="static" data-bs-keyboard="false" data-bs-target="#exampleModal">Account</button></li>
                  <li><a class="dropdown-item" href="{{ url_for('logoutcas') }}">Log out</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>


    <!-- Modal for Account Settings -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Account Settings</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form id="insert_form">
              <div class="form-group">
                <label for="cal_goal" class="col-form-label">Daily Calorie Goal:</label>
                <input type="number" class="form-control" id="cal_goal" name="cal_goal">
              </div>
              <div class="form-group">
                <label for="fat_goal" class="col-form-label">Daily Fat Goal (g):</label>
                <input type="number" class="form-control" id="fat_goal" name="fat_goal">
              </div>
              <div class="form-group">
                <label for="protein_goal" class="col-form-label">Daily Protein Goal (g):</label>
                <input type="number" class="form-control" id="protein_goal" name="protein_goal">
              </div>
              <div class="form-group">
                <label for="carb_goal" class="col-form-label">Daily Carb Goal (g):</label>
                <input type="number" class="form-control" id="carb_goal" name="carb_goal">
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-success">Update</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  
    <script src="{{ url_for('static', filename='scripts/account_settings.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/add_active.js') }}"></script>
  </header>
</html>