<header>
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <div id="logo">
          <img src="{{ url_for('static', filename='munchlogo.jpeg') }}" alt="TigerMunch Logo" class="navbar-brand">
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
          <ul class="nav navbar-nav">
            <li class="nav-item p-3">
              <a class="header-link fw-bold" href="{{ url_for('home') }}">Home</a>
            </li>
            <li class="nav-item p-3">
              <a class="header-link fw-bold" href="{{ url_for('get_summary') }}">Summary</a>
            </li>
            <li class="nav-item p-3">
              <a class="header-link fw-bold" href="/account">Account</a>
            </li>
            <li class="nav-item p-3">
              <a class="header-link fw-bold" href="{{ url_for('logoutcas') }}">Log out</a></br>
            </li>
          </ul>
        </div>
      </div>
    </nav>
</header>