<div class="container">
	<form action="/account" method="get" id="save_form">
		<div class="field" tabindex="1">
			<label for="cal">
				<i class="far fa-user"></i>Calorie Estimate:
			</label>
			<input name="cal" type="number" placeholder="{{calorie_estimate}}"required>
		</div>
		<div class="field" tabindex="1">
			<label for="fat">
				<i class="far fa-user"></i>Fat Estimate:
			</label>
			<input name="fat" type="number" placeholder="{{fat_estimate}}"required>
		</div>
		<div class="field" tabindex="1">
			<label for="carbs">
				<i class="far fa-user"></i>Carbs Estimate:
			</label>
			<input name="carbs" type="number" placeholder="{{carbs_estimate}}"required>
		</div>
        <div class="field" tabindex="1">
			<label for="protein">
				<i class="far fa-user"></i>Protein Estimate:
			</label>
			<input name="protein" type="number" placeholder="{{protein_estimate}}"required>
		</div>
		<div c>
		<button type="submit" class="btn btn-success">Send Me Message</button>
        <a class="btn btn-success btn-lg" href="{{ url_for('home') }}">Delete</a>
        <a class="btn btn-success btn-lg" href="{{ url_for('form') }}">Reenter</a>
</form>
</div>