/* Styles for FAQ page */
.wrapper {
  max-width: 75%;
  margin: auto;
} 
 
.wrapper > p,
.wrapper > h1 {
  margin: 1.5rem 0;
  text-align: center;
}

/* question */
.box {
  background-color: white;
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  font-size: 1.2rem;
  width: 100%;
  padding: 2rem 2.5rem;
  border: none;
  outline: none;
  transition: 0.4s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  flex-direction: row;
}

.box i {
  font-size: 1.6rem;
}

.outer-box .active,
.box:hover {
  background-color: #69A593;
  color: white;
} 

/* answer panel */
.panel {
  padding: 0 2rem 2.5rem 2rem;
  overflow: hidden;
  background-color: #69A593;
  display: none;
}

/* answer */
.panel p {
  color: white;
  font-size: 1.2rem;
  line-height: 1.4;
}

/* the outer rectangle around the text/question */
.outer-box {
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 10px 0;
}

.outer-box.active {
  border: none;
}

/* Mobile optimization */
@media (max-width: 625px) {
  .wrapper {
    max-width: 95%;
  } 
  .box i {
    margin-left: 10px;
  }
}