.flex-input {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.button-flex {
    display: flex;
    justify-content: center;
}

.form-elem {
    background-color: #69A593;
    border-radius: 30px;
    color: white;
    text-align: center;
    height: 45vh;
    width: 50%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    width: 100vw;
}

#description {
    width: 70%;
    height: 40%;
    border: none;
    border-radius: 10px;
}

.upload-btn {
    background-color: #276955;
    color: white;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 10px;
}

.upload-btn:hover {
    background-color: #000b08; 
}

#file-chosen {
    display: block;
}
