@import url("https://cdn.datatables.net/2.0.3/css/dataTables.dataTables.css");

#table-head th {
    background-color:  #69A593 !important;
    color: white;
}

/* 
#myTable {
    width: 90vw !important;
} */

.position-charts {
    margin-top: 40px;
    padding: 30px;
}

@media screen and (max-width: 500px) {
    .position-charts {
        margin-top: 80px;
        padding: 0;
    }

}

.chart-container {
    position: relative; /* Allows Chart.js to use absolute positioning for the canvas */
    width: 95%;
    /* width: 80vw; */
    max-width: 1050px; 
    /* height: auto; */
    min-height: 550px;
}

