@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
}

nav {
    background: #276955;
    background: radial-gradient(circle, #276955 0%, 100%);
    box-shadow: 0 8px 6px -6px black;
    margin-bottom: 30px;
    padding: 0px !important;
    border-radius: 4px;
}

.header-link {
    color: white;
    text-decoration: none;
    position: relative;
    display: block;
    padding: 8px 8px;
}

#logo {
    width: 7.5em;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 10px;
}

#logo > img {
    width: 8em;
    height: auto;
}

.nav > li:hover{
    background-color: black;
}

.btn-success {
    background-color: #276955; 
}

.btn-success:hover {
    background-color: #000b08; /* Slightly darker for hover effect */
    color: white;
}

.center-content-pg {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.header-container {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.toggle-btn {
    margin-right: 10px;
}