* {
    box-sizing: border-box;
}

nav {
    background-color: #979797;
    margin-bottom: 30px;
    padding: 0px !important;
}

.header-link {
    color: white;
    text-decoration: none;
    position: relative;
    display: block;
    padding: 8px 8px;
}

#logo {
    width: 7.5em;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 10px;
}

#logo > img {
    width: 8em;
    height: auto;
}

.nav > li:hover{
    background-color: black;
}

.btn-success {
    background-color: #276955; 
}

.btn-success:hover {
    background-color: #000b08; /* Slightly darker for hover effect */
    color: white;
}

.center-content-pg {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.header-container {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.toggle-btn {
    margin-right: 10px;
}

.chart-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 200px; /* or whatever size you want */
    height: 200px; /* should be same as width for a circle */
    margin: 0 auto; /* this centers the chart horizontally */
}

.canvas {
    width: 100%;
    height: 100%;
}

.percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: bold;
}

.chart-container canvas {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

.macro-count {
    text-align: center;
    margin-bottom: 10px; /* Adjust as needed for spacing */
    font-size: 18px; /* Adjust as needed */
    /* Additional styles */
}


#insert_form {
    width: 100%;
}